/* #4ab577 */
body{
    font-family: "Noto Sans JP";
    font-weight: 400;
    font-size: 18px;
    font-variant-ligatures: none;
}
img{
    width: 100%;
}
.top_wrapper{
    max-width: 1330px;
}
.f_futura{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.section_title{
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    padding: 5% 0;
    letter-spacing: 10px;
}
.color-white{
    color: #ffffff;
}
.emphasis{
    color: #4ab577;
}





.top{
    position: relative;
    height: 670px;
    background-color: gray;
    background-image: url(../img/top.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.company_name{
    display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 60px;
    letter-spacing: 8px;
    color: #ffffff;
}





.business{
    background-color: #221f20;
    /* color: #ffffff; */
    /* padding: 5% 0; */
}
.business .grid_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business .grid_wrapper .grid{
    width: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.business .grid_wrapper .content{
    width: 50%;
    background-color: #ffffff;
    margin: 0 1%;
}
.business .business_title {
    text-align: center;
    font-size: 24px;
    /* font-weight: 500; */
    padding: 5% 0;
}
.business .business_exp {
    padding: 0 5% 5% 5%;
    line-height: 1.7;
}
.business .img_wrapper{
    width: 100%;
}
.business .img{
    width: 100%;
}
.business .etc_text{
    text-align: center;
    padding: 5% 0;
    color: #ffffff;
}





.company {
    /* padding: 5% 0; */
}
.company .info_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.company .info_detail{
    width: 60%;
    border-top: solid 2px #000000;
    border-bottom: solid 1px #0e0e0e;
    padding: 5% 0;
}
.company .row{
    display: flex;
    padding: 2% 0;
}
.company .row_label{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;

}
.company .row_body{
    width: 70%;
    line-height: 1.5;
}





.contact {
    /* padding: 5% 0; */
    background-color: #4ab577;
}
.contact .text{
    text-align: center;
}
.contact_button {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #4ab577;
    /* background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%); */
    background-color: #ffffff;
    transition: .4s;
}
.contact_button:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
.contact_button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.contact_button {
    display       : inline-block;
    border-radius: 40px;
    text-align    : center;
    cursor        : pointer;
    padding       : 12px 12px;
    background    : #ffffff;
    color         : #4ab577; 
    transition    : .3s;
  }
  .contact_button:hover {
    color         : #ffffff; 
    background    : #000000;
  }

@media screen and (max-width:768px){
    .company_name{
        font-size: 40px;
    }
    .business .business_title{
        font-size: 20px;
        padding: 8% 0;
    }
    body{
        font-size: 14px;
    }
    .business .grid_wrapper .grid{
        flex-wrap: wrap;
        width: 90%;
    }
    .business .grid_wrapper .content{
        width: 100%;
        margin: 1% 0%;
    }
    .company .info_detail{
        width: 90%;
    }
    .company .row{
        padding: 10% 0;
    }
    .section_title{
        padding: 10% 0;
    }
    .business .business_exp{
        padding: 0 3% 5% 3%;
    }
}
    